<h1>Products#update</h1>
<%= form_for :product, url: edit_product_path(@product),  method: :patch do |p| %>
	<ul>
		<li>
	 		Name: <%= p.text_field :name %>
		</li>
		<li>
	 		Price : <%= p.text_field :price %>
		</li>
		<li>
	 		Description : <br>	 <%= p.text_area :description %>
		</li>
		<li>
	 		Published?    : <%= p.check_box :published? %>
		</li>
		<li>
    		<%= p.submit %>
		</li>
	</ul>
<% end %>